@media(max-width:768px){

.nav-links{
display:none;
}

.menu-btn{
display:block;
}

.hero h1{
font-size:2.2rem;
}

.hero-logo{
width:150px;
}

.documentary-card{
grid-template-columns:1fr;
}

.section-title h2{
font-size:2rem;
}

}
